body {
    background-color: #111;
}

* {
    color: #eee;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

div#row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

textarea {
    resize: none;
    outline: none;
    border: none;
}

.io {
    border-radius: 5px;
    padding: 10px;
    background-color: #313;
    width: 300px;
    height: 200px;
    margin-inline: 20px;
    overflow-y: scroll;

    font-family: serif;
    font-size: 18px;
    line-height: 1.4rem;
}

