body {
    background-color: #111;
}

* {
    color: #eee;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

div#row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

textarea {
    resize: none;
    outline: none;
    border: none;
}

.io {
    border-radius: 5px;
    padding: 20px;
    background-color: #313;
    width: 400px;
    height: 500px;
    margin-inline: 20px;
    overflow-y: scroll;

    font-family: serif;
    font-size: 26px;
    line-height: 2rem;
}

#improvement {
    text-align: center;
    color: #eee;
    font-family: serif;
}

@media (max-width: 600px) {
    .io {
        width: 80%;
        height: 200px;
        font-size: 20px;
    }

    div#row {
        flex-direction: column;
    }
}